@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  min-height: 100vh;
  background: #000;
}

.navbar ul li a {
  text-decoration: none;
  color: #9e9e9e;
  font-size: 1.6rem;
  transition: 1s;
}

.navbar ul li a:hover{
    color: #01579B;
}

.navbar img {
  width: 7rem;
}

.navbar {
  text-align: center;
}

.navbar ul {
  display: flex;
  gap: 2.5rem;
  justify-self: center;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

.kapak {
  position: relative;
  height: 80vh;
  width: 80%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.blur-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.6)),
    url(images/ana_sayfa.jpeg);
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  z-index: 1;
}

.kapak-text {
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 37%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.kapak-text h1 {
  font-size: 3rem;
  font-weight: 500;
}

.kapak-text p {
  font-size: 2rem;
  padding-top: 2rem;
  font-weight: 300;
}
