@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  min-height: auto;
  background: #0D0D0D;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #9e9e9e;
  font-size: 1.6rem;
  transition: 1s;
}

.navbar ul li a:hover{
    color: #01579B;
}

.navbar img {
  width: 7rem;
}

.navbar {
  text-align: center;
  padding-top: 1.4rem;
}

.navbar ul {
  display: flex;
  gap: 2.5rem;
  justify-self: center;
  padding-top: 2rem;
  margin-bottom: 4rem;
  list-style-type: none;
}

.kapak {
  position: relative;
  height: 80vh;
  width: 80%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.blur-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.6)),
    url(images/ana_sayfa.jpeg);
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  z-index: 1;
}

.kapak-text {
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 37%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.kapak-text h1 {
  font-size: 3rem;
  font-weight: 500;
}

.kapak-text p {
  font-size: 2rem;
  padding-top: 2rem;
  font-weight: 300;
}

.box{
  color: #FF4D4D;
  margin-top: 15rem;
}

.box hr{
  color: #FF6F6F;
  background-color: #FF6F6F;
  border: none;
  width: 70%;
  height: 0.4rem;
  justify-self: center;
}

.box p{
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
  text-align: center;
  line-height: 3rem;
  font-weight: 500;
}

.box h1{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 6rem;
}

.box-2{
  color: #6FBF73;
  margin-top: 15rem;
}

.box-2 h1{
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 6rem;
}

.cardlar{
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.card{
  width: 25%;
  height: 28rem;
  background-color: #1C1C1C;
  border-radius: 10px;
}

.card i{
  font-size: 6rem;
  position: relative;
  left: 50%;
  top: 22%;
  transform: translate(-50%,-50%);
}

.card h1{
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 1.5rem;
}

.card p{
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
}

.footlar{
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-top: 10rem;
}
.foot{
  width: 20%;
}

.foot img{
  width: 13rem;
}

.foot ul li a {
  text-decoration: none;
  color: #BFBFBF;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.foot ul{
  list-style-type: none;
  padding-left: 1.4rem;
}

.footer{
  color: #fff;
  background-color: #000;
  margin-top: 20rem;
}

.footlar h1{
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.footlar h1::after{
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #01579B;
  margin-top: 0.5rem;
}

#iletisim a{
  color: #BFBFBF;
  font-size: 3rem;
  margin-right: 1rem;
}

.footer hr{
  color: #fff;
  background-color: #fff;
  width: 75%;
  height: 0.2rem;
  margin: auto;
  margin-top: 4rem;
}

.footer p{
  text-align: center;
  font-size: 2rem;
  padding: 4rem;
  color: #BFBFBF;
}


